.categories {
  display: flex;
  height: 100px;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(223, 89, 89, 0.75);
  box-shadow: 0 1px 5px 0 rgba(247, 244, 244, 0.918);
  padding: 10px;
  border-radius: 6px;
  font-weight: 700;
}
