@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");

.loadingWrapper {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 75px;
  height: 75px;
  display: grid;
}
.loading::before,
.loading::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #f81e1e 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  animation: s2 0.5s infinite;
}
.loading::before {
  margin: 8px;
  filter: hue-rotate(45deg);
  background-size: 10px 10px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
