.movieWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .moviePoster {
    display: flex;
    width: 200px;
    img {
      position: relative !important;
      object-fit: cover;
    }
  }
}
