.movieWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 4rem;

  .backgroundImg {
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(50px) brightness(30%) grayscale(80%);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .movieTitle {
      font-size: 3rem;
      margin-bottom: -0.5rem;
    }

    .rateWrapper {
      display: flex;
      justify-content: center;

      .block {
        margin-right: 2rem;

        h4 {
          font-size: 1.2rem;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          svg {
            margin-right: 10px;
            font-size: 1.8rem;
            color: rgb(255, 157, 0);
          }
          p {
            display: flex;
            flex-direction: column;
            span {
              font-size: 14px;
              margin-top: -0.5rem;
            }
          }
        }
      }

      .right {
        div {
          color: rgb(79, 223, 248);
          p {
            cursor: pointer;
          }

          svg {
            margin-right: 12px;
            font-size: 2.4rem;
          }
        }
      }
    }
  }

  .info {
    margin-bottom: 0.5rem;
  }

  .moviePoster {
    display: flex;
    height: 400px;
    img {
      position: relative !important;
      width: 300px !important;
    }
    .posters {
      width: 300px;
      overflow: auto;
      height: 100%;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #8c8c8c;
        border-radius: 0.25rem;
      }
      img {
        width: 50px;
      }
    }
  }

  .detail {
    display: flex;
    .overview {
      font-size: 1.1rem;
      width: 70%;

      p {
        border-bottom: 1px solid rgb(77, 77, 77);
        padding: 0.5rem 0;
      }
    }

    .right {
      width: 30%;

      .inner {
        border: 1px solid rgb(77, 77, 77);
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
        margin: 2rem auto;
        width: 80%;
        cursor: pointer;

        svg {
          font-size: 2rem;
          margin-right: 1rem;
        }

        div {
          :first-child {
            font-weight: bold;
            margin-bottom: -0.2rem;
          }
          :nth-child(2) {
            font-weight: 100;
          }
        }
      }
    }
  }

  //* Genres
  ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding-left: 0;
    margin-top: 10px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.5px solid rgb(249, 248, 248);
      padding: 7px;
      border-radius: 20px;
      font-size: 13px;
    }
  }
}
